.header {
  background-color: rgba(250, 250, 250);
  margin-bottom: 2em;
}

.nav-link {
  color: orangered;
}

.nav-item :hover {
  background-color: orangered;
  color: white;
}

.title {
  text-align: center;
  color: orangered;
  text-transform: uppercase;
}
