.header {
  margin: 0;
  background-color: rgba(240, 240, 240);
  margin-bottom: 2em;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  font-size: large;
  margin-left: auto;
}

.nav-item {
  color: black !important;
}

.icon-item {
  color: orangered;
  margin-right: 5px;
}

.brand {
  color: orangered !important;
  font-size: 150% !important;
  font-weight: bolder;
  text-transform: uppercase;
}
