.header {
  margin: 0;
  background-color: rgba(250, 250, 250);
  margin-bottom: 2em;
}

.navbar {
  font-size: large;
  margin-left: auto;
  text-align: center;
}

.nav-item {
  color: black !important;
}

.icon-item {
  color: orangered;
  margin-right: 5px;
}

.brand {
  color: orangered !important;
  font-size: 150% !important;
  font-weight: bolder;
  text-transform: uppercase;
}
