.thumbnail {
  width: 150px;
  height: 100px;
  margin: auto;
}

.date {
  font-size: 0.7em;
  font-style: oblique;
}
.first-reg {
  font-size: 0.8em;
  font-weight: bold;
}

.bold-md {
  font-size: 0.9em;
  font-weight: bold;
}

.bold-lg {
  font-size: 1.1em;
  font-weight: bold;
}

.car-link {
  color: black;
  text-decoration: none;
}

.car-link :hover {
  text-decoration: none;
  color: orangered;
}

.milage {
  font-size: smaller;
}

.description {
  word-break: break-all;
  margin-top: 5px;
  font-style: italic;
  font-size: 0.85em;
}

.ad-wrapper {
  margin: 10px;
}

.fav-orange {
  color: orangered;
}

.fav-orange :hover {
  color: black;
}

.fav-black {
  color: black;
}

.fav-black :hover {
  color: orangered;
}
