.footer {
  margin-top: 2em;
  background-color: rgba(250, 250, 250);
  text-align: center;
  justify-content: space-around;
  padding-top: 30px;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
}

.logo {
  color: orangered !important;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
}

.author {
  padding-bottom: 15px;
  font-size: 70% !important;
  font-weight: bolder;
  text-align: center;
}
