.image-preview {
  margin: 5px;
  width: auto;
  height: 50px;
}
.error {
  color: red;
}

.button {
  border-color: orangered !important;
  background-color: orangered !important;
  color: white !important;
}

.button-container {
  display: flex;
  justify-content: center;
}
